* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.navbar {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 100px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: white;
}

.logo img {
    width: 180px;
}

ul {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 50px;
    font-size: 20px;
}

ul li a {
    text-decoration: none;
    color: black;
    /* font-family: sans-serif; */
    font-size: 15px;
    font-weight: 600;
}

li a:hover {
    color: #473bf0;
}

.navbar a.active {
    color: #473bf0;
}

.nav-btn {
    background-color: #473bf0;
    color: white;
    border-radius: 10px;
    border: none;
    width: 150px;
    height: 50px;
    font-size: 16px;
    font-weight: 600;
}

.nav-btn:hover {
    background-color: #5b8fc4;
    transform: translate(0, -5px);
    cursor: pointer;
}

.banner {
    background: linear-gradient(135deg, #fff, #a6dbf0);
    box-shadow: 0 4px 15px rgba(0, 0, 0, .1);
    border-radius: 10px;
    width: 100%;
    height: 100%;
    margin-top: 100px;
    padding: 50px 0px;
    line-height: 50px;
}

.banner h1 {
    text-align: center;
    font-size: 56px;
    font-weight: 700;
}

.banner-title {
    color: #0d6efd;
}

.banner-text {
    text-align: center;
    color: #212529bf;
    font-size: 20px;
    font-weight: 300;
    margin-bottom: 20px;
}

.banner-button {
    text-align: center;
}

.banner-button .btn {
    font-size: 14px;
    font-weight: 600;
    padding: 15px 30px;
    background-color: #473bf0;
    color: #fff;
    border-radius: 5px;
    border: none;
}

.banner-button .btn:hover {
    background-color: black;
    color: white;
    transform: translate(0, -5px);
    cursor: pointer;
}

.features,
.clients,
.we-offer,
.toolkit {
    margin-top: 35px;
    margin-bottom: 40px;
    text-align: center;
    line-height: 40px;
}

.features h4,
.clients h4 {
    color: #473bf0;
}

.features-text p,
.clients-text p,
.we-offer-text p,
.toolkit-text p {
    margin: 0 30%;
    line-height: 24px;
    font-size: 14px;
    padding: 20px;
}

.features-cards .row {
    display: flex;
    justify-content: center;
    margin: 50px;
}

.features-cards .col {
    display: flex;
    flex-direction: column;
}

.features-cards .card {
    margin: 25px;
    text-align: center;
    padding: 70px 40px;
    box-shadow: 0 0 50px rgba(87, 87, 87, .23);
    border-radius: 10px;
}

.features-cards .card i {
    height: 70px;
    width: 70px;
    line-height: 70px;
    background-color: #473bf0;
    color: #fff;
    display: inline-block;
    font-size: 20px;
    border-radius: 5px;
    margin-bottom: 20px;
    transition: transform 0.6s ease;
}

.features-cards .card h3 {
    font-size: 30px;
}

.features-cards .card p {
    margin-top: 20px;
    line-height: 30px;
}

.features-cards .card:hover i {
    border-radius: 50%;
    transform: rotate(360deg);
}

.features-cards .card h3:hover {
    color: #473bf0;
}

.carousel {
    overflow: hidden;
    position: relative;
    width: 100%;
}

.logos-slide {
    display: flex;
    width: calc(250px * 10);
    /* Adjust if you add more logos */
    animation: scroll 20s linear infinite;
}

.logos-slide img {
    height: 80px;
    margin: 0 25px;
    transition: filter 0.3s;
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-50%);
    }
}

.offer-cards {
    background-color: #081828;
}

.offer-cards .row {
    display: flex;
    margin: 25px;
}

.offer-cards .col {
    display: flex;
    flex-direction: column;
    color: white;
}

.offer-cards .card {
    position: relative;
    padding: 0 30px 0 90px;
    margin-top: 30px;
    text-align: left;
}

.offer-cards .card i {
    font-size: 25px;
    position: absolute;
    background-color: #fff;
    left: 0;
    top: 11px;
    height: 60px;
    width: 60px;
    line-height: 60px;
    text-align: center;
    border-radius: 5px;
    color: #473bf0;
    display: inline-block;
}

.offer-cards h3 {
    font-size: 25px;
}

.offer-cards p {
    margin-top: 15px;
    font-size: 13px;
    line-height: 30px;
}
.toolkit-card .row {
    display: flex;
    flex-wrap: wrap;
    margin: 0px 30px;
}
