* {
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
}

.navbar {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 100px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: white;
}

.logo img {
    width: 180px;
}

ul {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 50px;
    font-size: 20px;
}

ul li a {
    text-decoration: none;
    color: black;
    /* font-family: sans-serif; */
    font-size: 15px;
    font-weight: 600;
}

li a:hover {
    color: #473bf0;
}

.nav-btn {
    background-color: #473bf0;
    color: white;
    border-radius: 10px;
    border: none;
    width: 150px;
    height: 50px;
    font-size: 16px;
    /* font-family: sans-serif; */
    font-weight: 600;
}

.nav-btn:hover {
    background-color: #5b8fc4;
    transform: translate(0, -5px);
    cursor: pointer;
}

.banner {
    background-color: #473bf0;
    padding: 80px;
    height: 200px;
    line-height: 60px;
    margin-top: 100px;
}

.banner-text {
    color: white;
    font-size: 45px;
    text-align: center;
    /* font-family: sans-serif; */
    font-weight: 600;
}

.banner-btns {
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner-btn {
    border-radius: 10px;
    border: none;
    width: 150px;
    height: 50px;
    font-size: 16px;
    /* font-family: sans-serif; */
    font-weight: 500px;
    margin: 10px;
}

.banner-btn:hover {
    color: #473bf0;
    transform: translate(0, -5px);
    cursor: pointer;

}

.services,
.clients,
.testimonials {
    margin-top: 35px;
    margin-bottom: 40px;
    text-align: center;
    line-height: 40px;
}

.services h4,
.clients h4,
.testimonials h4 {
    color: #473bf0;
}

.services-text p,
.clients-text p {
    margin: 0 25%;
    line-height: 20px;
    font-size: 14px;
    padding: 20px;
}

.row {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px;
}

.row i {
    color: #473bf0;
    font-size: 50px;
}

.card {
    margin: 25px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 50px rgba(87, 87, 87, .23);
}

.card p {
    line-height: 30px;
    font-size: 14px;
    padding: 20px;
    color: #888;
}

.card a {
    text-decoration: none;
    color: black;
    display: inline-block;
}

.card h3:hover {
    color: #473bf0;
    cursor: pointer;
}

.card a:hover {
    color: #473bf0;
    transform: scale(2);
}


.carousel {
    overflow: hidden;
    position: relative;
    width: 100%;
}

.logos-slide {
    display: flex;
    width: calc(250px * 10);
    /* Adjust if you add more logos */
    animation: scroll 20s linear infinite;
}

.logos-slide img {
    height: 80px;
    margin: 0 25px;
    transition: filter 0.3s;
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-50%);
    }
}

.testimonials .row .card {
    border: 5px solid #473bf0;
}

.container2 {
    display: flex;
    justify-content: space-between;
    margin: 0 50px;
    padding: 20px;
    font-size: 30px;
}

.container2-btn {
    background-color: #473bf0;
    color: white;
    border-radius: 10px;
    border: none;
    width: 200px;
    height: 70px;
    font-size: 16px;
    font-weight: 600;
}

.container2-btn:hover {
    background-color: #5b8fc4;
    transform: scale(1.1);
    cursor: pointer;
}

.container3 {
    background-color: #e9ecef;
    padding: 20px;
    display: flex;
}

.left-section,
.right-section {
    width: 50%;
    margin: 10px;
    text-align: left;
}

.left-section-title {
    color: #473bf0;
    line-height: 50px;
}

.left-section h2 {
    font-size: 45px;
    line-height: 50px;
}

.left-section p {
    line-height: 30px;
    font-size: 14px;
    padding: 20px 0;
}

.achievement {
    background-color: #473bf0;
    color: white;
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
}

.achievement .col {
    text-align: center;
    margin: 0 65px;
}

.col h3 {
    font-size: 45px;
}

.col p {
    margin-top: 10px;
}

footer {
    background-color: #081828;
}

.footer-top {
    display: flex;
    justify-content: space-between;
    margin: 0 50px;
    padding: 50px;
    align-items: center;
    color: white;
    font-size: 20px;
}

.footer-top-btn {
    background-color: #473bf0;
    color: white;
    border-radius: 10px;
    border: none;
    width: 200px;
    height: 70px;
    font-size: 16px;
    font-weight: 600;
}

.footer-top-btn:hover {
    background-color: white;
    color: #473bf0;
    transform: translate(0, -5px);
    cursor: pointer;
}

.footer-middle .row {
    display: flex;
}

.footer-middle .col {
    margin-left: 30px;
    color: white;
}

.footer-middle .logo img {
    width: 160px;
    margin-bottom: 20px;
}

.footer-middle ul {
    flex-direction: column;
    margin: 20px 30px;
}

.footer-middle ul li {
    font-size: 15px;

}

.footer-bottom {
    text-align: center;
    background-color: #473bf0;
    color: white;
    padding: 30px;
}

